{% extends "learning_logs/base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block page_header %}
<h3>Checkout</h3>
{% endblock page_header %}

{% block content %}
<div class="row">
    <div class="col-lg-6">
        <div class="box-elemennt" id="form-wrapper">
            <form id="form">
                <div id="user-info">
                    <div class="form-field">
                        <input required class="form-control" type="text" name="name" placeholder="Name..">
                    </div>
                    <div class="form-field">
                        <input required class="form-control" type="email" name="email" placeholder="Email Address..">
                    </div>
                </div>
                
                <div id="shipping-info">
                    <hr>
                    <p>Enter your seat info listed on your ticket:</p>
                    <hr>

                    <div class="form-field">
                        <select class="form-control" id="section">
                            <option disabled="true" selected>-- Select Section</option>
                            <option></option>
                        </select>   
                    </div>
                    <br>
                    <div class="form-group">
                        <select class="form-control" id="row">
                            <option disabled="true" selected>-- Select Row</option>
                        </select>
                        
                    </div>
                    <div class="form-group">
                        <select class="form-control" id="seat">
                            <option disabled="true" selected>-- Select Seat</option>
                        </select>
                        
                    </div>
                </div>
                <hr>
                <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
            </form>
        </div>
        <br>
    </div>
        <div class="box-element hidden" id="payment-info">
            <small>Paypal Options</small>
            <button id="make-payment">Make payment</button>
        </div>
        <div class="box-element hidden" id="apple-pay">
            <small>Apple Pay</small>
        </div>

    <div class="col-lg-6">
        <div class="box-element">
            {% for item in items %}
            <div class="cart-row">
                <div style="flex: 2"><img class="row-image" src="{{ item.menu_item.image.url }}"></div>
                <div style="flex: 2">{{item.menu_item.name}}</div>
                <div style="flex: 1">{{item.menu_item.price}}</div>
                <div style="flex: 1">
                    <p class="quantity">{{order.get_cart_items}}</p>
                </div>
                <div style="flex: 1">${{order.get_cart_total}}</div>
                {% empty %}
                <p>You have not added anything to the cart.</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
   
<script type="text/javascript">
    var shipping = '{{order.delivery}}'
    var total = '{{order.get_cart_total}}'

    if(delivery == 'False'){
        document.getElementById('shipping-info').innerHTML = ''
    }

    if (user != 'AnonymousUser'){
        //hide the user-info wrapper if the user is logged in 
        document.getElementById('user-info').innerHTML = ''
    }

    if (delivery == 'False'&& user != 'AnonymousUser'){
        //hide entire form if user is logged in and delivery is false
        document.getElementById('form-wrapper').classList.add('hidden');
        //Show payment info if logged in user wants to buy an item that can be picked up instead
        document.getElementById('payment-info').classList.remove('hidden');
    }

    var form = document.getElementById('form')

    form.addEventListener('submit', function(e){
        e.preventDefault()
        console.log('form submitted')
        document.getElementById('form-button').classList.add('hidden')
        document.getElementById('payment-info').classList.remove('hidden')
        })

        document.getElementById('make-payment').addEventListener('click', function(e){
            submitFormData()
        })
    
        function submitFormData(){
            console.log('Payment button clicked')

            var userFormData = {
                'name':null,
                'email':null,
                'total':total,
            }

            var seatLocation = {
                'section':null,
                'row':null,
                'seat':null,
            }

            if(delivery != 'False'){
                seatLocation.section = form.section.value
                seatLocation.row = form.row.value
                seatLocation.seat = form.seat.value
            }

            if(user == 'AnonymousUser'){
                userFormData.name = form.name.value
                userFormData.email = form.email.value
            }

            var url = '/process_order/'
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type':'application/json',
                    'X-CSRFToken':csrftoken,
                },
                body: JSON.stringify({'form':userFormData, 'shipping':shippingInfo})
            })
            .then((response) => response.JSON())
            .then((data) => {
                console.log('sucess:', data);
                alert('Transaction completed');
                window.location.href = "{% url 'index' %}"
            })

        }

</script>

{% endblock content %}