{% extends "learning_logs/base.html" %}
{% load static %}

{% block page_header %}
<div class="container">
</div>

{% endblock page_header %}
{% block content %}

    {% for order in orders %}
    <div class="col-lg-6" style="padding-left: 1px; padding-right: 1px; margin-bottom: 5rem;">
        <div class="order-summary">
            <h3>{{order.topic}}, {{order.entry}} - Order #{{order.id}}</h3>
            <div>
                <strong>Order Status: {{order.status}}</strong>,
                <strong>Order Type: {% if order.pickup == True %}Pickup
                    {% else %}
                    Delivery
                    {% endif %}
                </strong>
            </div>
        </div>
        <div class="box-element">
            <div class="cart-row">
                <div style="flex: 2;"></div>
                <div style="flex: 2;"><strong>Item</strong></div>
                <div style="flex: 1;"><strong>Price</strong></div>
                <div style="flex: 1;"><strong>Qt.</strong></div>
                <div style="flex: 1;"><strong>Total</strong></div>
            </div>
            
            {% for item in items %}
            {% if item.order.id == order.id %}
            <div class="cart-row">
                <div style="flex: 2"><img class="row-image" src="{{ item.menu_item.image.url }}"></div>
                <div style="flex: 2">{{item.menu_item.title}}</div>
                <div style="flex: 1">{{item.menu_item.price}}</div>
                <div style="flex: 1">
                    <p class="quantity">{{item.quantity}}</p>
                </div>
                <div style="flex: 1">${{item.get_total|floatformat:2}}</div>
            </div>
            {% else %}
            {% endif %}
            {% empty %}
            {% endfor %}
            
        </div>
    </div>
    {% empty %}
    <p>No Orders exist</p>
    {% endfor %}

{% endblock content %}