{% extends "learning_logs/base.html" %}
{% load static %}

{% block page_header %}
<div class="container">
</div>

{% endblock page_header %}
{% block content %}


<div class="container">
    {% for order in orders %}
    <div class="col-lg-6">
        <h3>{{order.topic}}, {{order.entry}} - Order #{{order.id}}</h3>
        <h4>Status: {{order.status}}</h4>
        <div class="box-element">
            <div class="cart-row">
                <div style="flex: 2;"></div>
                <div style="flex: 2;"><strong>Item</strong></div>
                <div style="flex: 1;"><strong>Price</strong></div>
                <div style="flex: 1;"><strong>Quantity</strong></div>
                <div style="flex: 1;"><strong>Total</strong></div>
            </div>
            {% for item in items %}
            <div class="cart-row">
                {% if item.order.id == order.id %}
                <div style="flex: 2"><img class="row-image" src="{{ item.menu_item.image.url }}"></div>
                <div style="flex: 2">{{item.menu_item.title}}</div>
                <div style="flex: 1">{{item.menu_item.price}}</div>
                <div style="flex: 1">
                    <p class="quantity">{{order.get_cart_items}}</p>
                </div>
                <div style="flex: 1">${{order.get_cart_total}}</div>
                {% else %}
                {% endif %}
            </div>
            {% empty %}
            {% endfor %}
        </div>
    </div>
    {% empty %}
    <p>No Orders exist</p>
    {% endfor %}
</div>

{% endblock content %}