{% extends "learning_logs/base.html" %}
{% load bootstrap4 %}
{% block content %}
{% load account socialaccount %}

<div class="container">
    <section class="mb-2">
        <div class="col-lg-10">
            <h2>Signup to start ordering.</h2>
            <p>Already have an account? Then please <a href="{{ login_url }}">sign in</a></p>

            <form method="POST" action="{% url 'users:customer_register' %}">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
                <div style="text-align: center;"><strong>-OR-</strong></div>
                <a href="{% provider_login_url 'google' %}" class="btn btn btn-danger btn-lg btn-block" role="button" aria-pressed="true">Sign in with Google</a>
                {% endbuttons %}
                <input type="hidden" name="next" value="{% url 'learning_logs:index' %}"/>
            </form>
        </div>
        
    </section>
</div>

{% endblock content %}