{% extends "learning_logs/base.html" %}
{% load bootstrap4 %}
{% block content %}

<div class="container">
    <section class="mb-2">
        <div class="col-lg-10">
            <h2>Signup to start ordering.</h2>
            <p>Already have an account? Then please <a href="{{ login_url }}">sign in</a></p>

            <form method="POST" action="{% url 'users:customer_register' %}">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
                <input type="hidden" name="next" value="{% url 'learning_logs:index' %}"/>
                {% endbuttons %}
            </form>
        </div>
    </section>
</div>

{% endblock content %}