
.hero {
    height: 30vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

body{
	background-color: hsl(0, 0%, 98%);
}

h1,h2,h3,h4,h5,h6{
	color:hsl(0, 0%, 30%);
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}

.thumbnail{
	width: 100%;
	height: 200px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}

.product{
	border-radius: 0 0 4px 4px;
}

.bg-dark{
	background-color: #4f868c!important;
}

img.cart-icon{
	width:20px;
	display: inline-block;
}

#cart-total{
	display: block;
	text-align: center;
	color:#fff;
	background-color: red;
	width: 20px;
	height: 25px;
	border-radius: 50%;
	font-size: 14px;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

div.col-md-12 {
    padding-left: 0;
    padding-right: 0;
}

.btn{
	border-radius: 0;
}

.row-image{
    height: 90px;
    padding: 5px;

}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.navbar-toggler--cart {
    margin: 0 10px 0 auto;
    border: none;
  }

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

/* arena row and card styles */

.arena-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.arena-row .card{
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
    width: 22rem;

}

.arena-row .card:hover {
    border-width: medium;
}

.arena-row .card a {
    color: hsl(0, 0%, 30%);
}

img.card-img-top {
    height: 200px;
    background-size: cover;
}

/* Restaurant Card Styles */

.restaurant-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
}


.restaurant-row .card{
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
    width: 22rem;
}

/* menu card styles */

.menu-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.menu-row .card{
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
    width: 22rem;
}

.card-foot {
    padding-top: 15px;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}

/* arena search styling */

.arena-search label {
    display: none;
}

.arena-search input {
    vertical-align: bottom;
}


.hidden{
	display: none!important;
}

/* here image banner styles */

.hero-header {
    text-align: center;
    width: 100%;
}

.hero img {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}


.bgimage {
    width:100%;
    height:300px;
    background-repeat: no-repeat;
    background-size: cover;
  }

.active-cyan input.form-control[type=text] {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
  }


.cart-icon {
    width: 30px;
    color: turquoise;
}

.no-padding {
    padding-left: o;
    padding-right: 0;
}

.fa-exclamation-circle {
    color: #4dd0e1;
    height: 15px;
}

a {
    text-decoration: none;
}

/* Styles for Menu Cards */
.panel {
    box-shadow: 0 2px 0 rgba(0,0,0,0.05);
    border-radius: 0;
    border: 0;
    margin-bottom: 24px;
  }
  
  .panel-dark.panel-colorful {
    background-color: #3b4146;
    border-color: #3b4146;
    color: #fff;
  }
  
  .panel-danger.panel-colorful {
    background-color: #f76c51;
    border-color: #f76c51;
    color: #fff;
  }
  
  .panel-primary.panel-colorful {
    background-color: #5fa2dd;
    border-color: #5fa2dd;
    color: #fff;
  }
  
  .panel-info.panel-colorful {
    background-color: #4ebcda;
    border-color: #4ebcda;
    color: #fff;
    border-radius: 5px;
  }

  .panel-body {
    padding: 25px 20px;
  }
  
  .panel hr {
    border-color: rgba(0,0,0,0.1);
  }

  .panel-icon {
      height: 60px;
  }

  /* orders page sytles */
  .order-summary {
      margin-bottom: 30px;
  }


@media only screen and (max-width: 600px) {

    .menu-row{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }

    .menu-row .card{
        margin-bottom: 20px;
        width: 24rem;
    }

    .bgimage {
        width:100%;
        height:200px;
        background-repeat: no-repeat;
        background-size: cover;
      }

    div.container-fluid {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }

    .arena-row .card {
        width: 22rem;
    }

    .hero {
        height: 30vh;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 50px;
    }
    
  }


  @media screen and (min-width: 700px) {
      .bgimage {
        width:100%;
        height:300px;
        background-repeat: no-repeat;
        background-size: cover;
      }
  }

  @media screen and (min-width: 900px) {
    .bgimage {
      width:100%;
      height: 400px;
      background-repeat: no-repeat;
      background-size: cover;
      overflow: auto;
    }
}