{% extends "learning_logs/base_entry_nav.html" %}
{% load bootstrap4 %}
{%  load static %}

{% block page_header %}
<div class="container" style="margin-bottom: 50px; text-align: center;">
    <h3>Menu(s)</h3>
</div>

{% endblock page_header %}

{% block content %}
{% if request.user.is_manager %}
<p>
    <a href="{% url 'learning_logs:new_menu' entry.id %}">Add Menu</a>
</p>   
{% else %}

{% endif %}
 <div class="container">
    <div class="row" style="justify-content: center;">
        {% for menu in menus %}
        <div class="col-md-3 col-sm-6 col-xs-12" style="width: 80%;">
            <div class="panel panel-info panel-colorful"> 
                <div class="panel-body text-center">
                    <p class="text-uppercase mar-btm text-sm">
                        <a href="{% url 'learning_logs:menu' menu.id %}"><img src="{% static '/fast-food.png' %}" class="panel-icon"></a>
                        <a style="color: #fff;;" href="{% url 'learning_logs:menu' menu.id %}">{{menu}}</a></p>
                    
                </div>
            </div>
        </div> 
        {% empty %}
        <li>There are no menus in this venue yet.</li>
        {% endfor %}    
    </div>
 </div>   
    
 {% if cartItems > 0 %}
 <div id="checkout" style="position: fixed;  bottom: 30px; width: 90%;">
     <a href="{% url 'customer:cart' %}" button type="button" class="btn btn-primary btn-lg btn-block checkout">Checkout: {{cartItems}} Item(s)</button></a>
 </div>
 {% else %}
 {% endif %}
     
    

{% endblock content %}

