{% extends "learning_logs/base.html" %}
{% load bootstrap4 %}
{%  load static %}

{% block page_header %}
<div class="container" style="margin-bottom: 50px; text-align: center;">
    <h3><a href="{% url 'learning_logs:topic' entry.topic.id %}">{{ entry.topic }}</a></h3>
</div>

{% endblock page_header %}

{% block content %}
{% if request.user.is_manager %}
<p>
    <a href="{% url 'learning_logs:new_menu' entry.id %}">Add Menu</a>
</p>   
{% else %}

{% endif %}
 <div class="container">
    <div class="row">
        {% for menu in menus %}
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="panel panel-info panel-colorful"> 
                <div class="panel-body text-center">
                    <p class="text-uppercase mar-btm text-sm"><a style="color: #fff;;" href="{% url 'learning_logs:menu' menu.id %}">{{menu}}</a></p>
                    <a href="{% url 'learning_logs:menu' menu.id %}"><img src="{% static '/fast-food.png' %}" class="panel-icon"></a>
                    <hr>
                    <p class="h2 text-thin"></p>
                    <small><span class="text-semibold"><i class="bi bi-shop-window"></i></span></small>
                </div>
            </div>
        </div> 
        {% empty %}
        <li>There are no menus in this venue yet.</li>
        {% endfor %}    
    </div>
 </div>   
    

     
    

{% endblock content %}

