{% extends "learning_logs/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
<div class="container">
    <h3><a href="{% url 'learning_logs:topic' entry.topic.id %}">{{ entry.topic }}</a></h3>
</div>

{% endblock page_header %}

{% block content %}
{% if request.user.is_manager %}
<p>
    <a href="{% url 'learning_logs:new_menu' entry.id %}">Add Menu</a>
</p>   
{% else %}

{% endif %}
    
    <div class="row">
        {% for menu in menus %}
        <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
            <h5 class="card-title"><a href="{% url 'learning_logs:menu' menu.id %}">{{ menu }}</a></h5>
            <p class="card-text">Test Description</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        </div>
        {% empty %}
        <li>There are no menus in this venue yet.</li>
        {% endfor %}    
    </div>

    

{% endblock content %}

