{% extends "learning_logs/base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block page_header %}
    <section class="hero">
        <header class="hero-header">
            <h1 class="hero-title">Skip the line dont miss the game.</h1>
            <p>Get your favorite food and drinks delivered right to your seat.</p>

            <!-- Search form -->
        <form method="get">
            {{myFilter.form}}
        <button class="btn btn-primary" type="submit">Search</button>
        </form>
        </header>
    </section>

{% endblock page_header %}



{% block content %}
    
    <section>
        <div class="arena-row">
            {% for topic in topics %}
            <div class="card" style="width: 16rem;">
                <img src="{{ topic.image.url }}" class="card-img-top">
                <div class="card-body">
                <h5 class="card-title"><a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a> 
                {% if request.user.is_manager %}   
                    - <a class="btn btn-danger" href="{% url 'learning_logs:delete_topic' topic.id %}" role="button">Delete</a></h5>
                {% else %}
                {% endif %}  
                <p class="card-text">Located in: {{topic.city}}, {{topic.State}}</p>
            </div>
            </div>
            {% empty %}
                <h3>No venues have been added yet</h3>
            {% endfor %} 
        </div> 
    
    </section>
{% endblock content %}