{% extends "learning_logs/base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block page_header %}
    <section class="hero">
        <header class="hero-header">
            <h1 class="hero-title">Skip the line dont miss the game.</h1>
            <p>Browse dining options & order from your seat without missing the action.</p>
            <p>Find a venue in your city:</p>

            <!-- Search form -->
        <form method="get" class="arena-search" placeholder="Test">
            {{myFilter.form}}
        <button class="btn btn-primary btn-sm" type="submit">Search</button>
        </form>
        </header>
    </section>
{% endblock page_header %}



{% block content %}
    
    <section>
        <div class="arena-row">
            {% for topic in topics %}
            <div class="card">
                <a class="card-block stretched-link text-decoration-none" href="{% url 'learning_logs:topic' topic.id %}">
                <img src="{{ topic.image.url }}" class="card-img-top">
                <div class="card-body" style="padding: 10px;">
                <h5 class="card-title">{{ topic }}</a> 
                <p class="card-text">{{topic.city}}, {{topic.State}}</p>
                </a>
            </div>
            </div>
            {% empty %}
                <h3>No venues have been added yet</h3>
            {% endfor %} 
        </div> 
    
    </section>
{% endblock content %}