{% extends "learning_logs/base.html" %}
{% load bootstrap4 %}
{%  load static %}

{% block page_header %}
<div class="container" style="margin-bottom: 50px; text-align: center;">
    <h3>Manage Orders</h3>
</div>

{% endblock page_header %}

{% block content %}
<div class="container">
    
    <div class="col-lg-12" style="padding-left: 1px; padding-right: 1px; margin-bottom: 40px;">
        <div class="cart-row">
            <div style="flex: 2;"><strong>Order Number</strong></div>
            <div style="flex: 2;"><strong>Status</strong></div>
            <div style="flex: 2;"><strong>Order Type</strong></div>
            <div style="flex: 2;"><strong>Recipient Phone Number</strong></div>
            <div style="flex: 1;"><strong>Total</strong></div>
        </div>
        {% for order in orders %}
        <div class="cart-row">
            <div style="flex: 2"><a href="{% url 'learning_logs:order_detail' order.id %}">{{order.id}}</a></div>
            <div style="flex: 2"><a href="{% url 'learning_logs:update_status' order.id %}">{{order.status}}<span style="padding-left: 10px ;"><img src="{% static 'pencil-square.svg' %}"></a></span></div>
            <div style="flex: 2">{% if order.pickup == True %}Pickup
                {% else %}
                Delivery
                {% endif %}</div>
            <div style="flex: 2">{{order.customer.phone_number}}{{order.guest.phone_number}}</div>
            <div style="flex: 1">${{order.get_cart_total}}</div>
    </div>
    {% empty %}
    <p>This vendor has not receieved any orders yet.</p>
    {% endfor %}
</div>
    
    

{% endblock content %}

