{% extends "learning_logs/base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block page_header %}
<h3><p>{{ menu }}</p></h3>
{% if request.user.is_manager %}
    <p>
        <a href="{% url 'learning_logs:new_menu_item' menu.id %}">Add Menu Item</a>
    </p>
    {% else %}
    {% endif %}
{% endblock page_header %}

{% block content %} 
    
    
    <div class="menu-row">
        {% for menu_item in menu_items %}
        <div class="card" style="width: 18rem;">
            <div class="card-horizontal">
                    <img src="{{ menu_item.image.url }}" class="row-image">
                <div class="card-body">
                    <small>{{ menu_item }}</small>
                </div>
            </div>
            <div class="card-footer">
                {% if request.user.is_manager %}    
                        - <small><a href="{% url 'learning_logs:edit_menu_item' menu_item.id %}">Edit</a></small>
                    {% else %}
                    <button data-menuitem={{menu_item.id}} data-action="add" class="btn btn-outline-primary btn-sm add-btn updatecart">Add to Cart</button>
                    <small>${{menu_item.price}}</small>
                {% endif %}
            </div>
        </div>
        {% empty %}
            <p>There are no items added to this menu yet.</p>
        {% endfor %} 
    </div> 

{% endblock content %}