<!-- Use the extends tag below to inherit from base.html -->
{% extends 'learning_logs/base.html' %}

{% load bootstrap4 %}
{% load static %}

{% block page_header %}
<h1>Venues</h1>
{% if request.user.is_staff %}
<h3><a href="{% url 'learning_logs:new_topic' %}">Add Venue</a></h3>
{% else %}
{% endif %}
{% endblock page_header %}

{% block content %}
    {% for topic in topics %}
    <div class="arena-row">
        <div class="card mb-4">
            <h4 class="card-header"><a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a> {{topic.city}}, {{topic.State}} 
            {% if request.user.is_staff %}    
                - <a class="btn btn-danger" href="{% url 'learning_logs:delete_topic' topic.id %}" role="button">Delete</a></h4>
            {% else %}
            ...
    
            {% endif %}
            <div class="card-body">
                <img src="{{ topic.image.url }}" class="img-thumbnail">
            </div>
        </div>  
        {% empty %}
            <h3>No venues have been added yet</h3>
        {% endfor %}
    </div>
    
{% endblock content %}