{% extends "learning_logs/base_logo.html" %}

{% load bootstrap4 %}
{% load static %}

{% block page_header %}
<div class="container-fluid" style="padding-bottom: 30px;">
    <div class="row">
        <div class="col-md-12">
            <img src="{{ topic.image.url }}" class="bgimage"/>
        </div>
    </div>
</div>
{% endblock page_header %}

{% block content %}
    {% if request.user.is_manager %}
    <p>
        <a href="{% url 'learning_logs:new_entry' topic.id %}">Add Restaurant</a>
    </p>
    {% else %}
    {% endif %}
    
    
    <section>
    <div class="restaurant-row" >
        {% for entry in entries %}
        {% if entry.active == True %}
        <div class="card" style="border: none;">
            <button type="button" class="btn btn-primary" href="{% url 'learning_logs:entry' entry.id %}" style="margin-bottom: 10px;">Order Now</button>
            <a class="card-block stretched-link text-decoration-none" style="border: none;" href="{% url 'learning_logs:entry' entry.id %}"></a>
            <img src="{{ entry.image.url }}" class="card-img-top" style="height: 150px; border: none;">
            <div class="card-body" style="border: none;">
            {% if request.user.is_manager %}
                <h5 class="card-title">
                - <small><a href="{% url 'learning_logs:edit_entry' entry.id %}">Edit</a></small>
                </h5>
            </div>
            {% else %}
            {% endif %}
        </div>
        {% else %}
        {% endif %}
        {% empty %}
            <li>There are no restuarants in this venue yet.</li>
        {% endfor %}  
    </div>
    </section>
      
    

{% endblock content %}


