
.hero {
    height: 30vh;
    background-image: url("/static/seated_banner.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-header {
    text-align: center;
}


.active-cyan input.form-control[type=text] {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
  }


.cart-icon {
    width: 30px;
}